@import './utils';

:local .wrapperSassComponent {
    background: black;
    padding: 2rem;
    color: yellow;
    font-size: 3rem;
}

.SassComponent {
    display: flex;
    // 추가, 외부 기능, 컬러 선택,
    // 미디어 반응형 쉽게 해주는 기능
    background: $oc-gray-2;

    @include media('<768px') {
        background: $oc-gray-9;
    }

    .box {
        background: red;
        cursor: pointer;
        transition: all 0.3s ease-in;

        &.red {
            background: $red;
            @include square(1);
        }

        &.orange {
            background: $orange;
            @include square(2);
        }

        &.yellow {
            background: $yellow;
            @include square(3);
        }

        &.green {
            background: $green;
            @include square(4, 4px solid $blue);
        }

        &.blue {
            background: $blue;
            @include square(5);
        }

        &.indigo {
            background: $indigo;
            @include square(6);
        }

        &.violet {
            background: $violet;
            @include square(7);
        }

        &.pink {
            background: $pink;
            @include square(8);
        }

        &:hover {
            background: black;
        }
    }

    // 첫 번째 요소와 마지막 요소에 다른 배경색 적용
    .box:first-of-type {
        background: $yellow;
    }

    .box:last-of-type {
        background: $green;
    }
}